﻿div.cabecalho-formulario
{
	width: 720px;
}

div.barra-formulario
{
	width: 720px;
}

div.barra-formulario input,
div.barra-formulario button
{
	height: 26px;
	width: 80px;
}

div.formulario
{
	padding: 25px;
	width: 720px;
}

div.formulario .item-form
{
	display: inline-block;
	float: left;
	padding-bottom: 6px;
}

div.formulario .item-form .titulo-item
{
	display: block;
	font-weight: bold;
}

div.formulario .inteiro { width: 720px; }
div.formulario .nove-decimos { width: 648px; }
div.formulario .oito-nonos { width: 640px; }
div.formulario .sete-oitavos { width: 630px; }
div.formulario .cinco-sextos { width: 600px; }
div.formulario .quatro-quintos { width: 576px; }
div.formulario .sete-nonos { width: 560px; }
div.formulario .tres-quartos { width: 540px; }
div.formulario .sete-decimos { width: 504px; }
div.formulario .dois-tercos { width: 480px; }
div.formulario .cinco-oitavos { width: 450px; }
div.formulario .tres-quintos { width: 432px; }
div.formulario .cinco-nonos { width: 400px; }
div.formulario .metade { width: 360px; }
div.formulario .quatro-nonos { width: 320px; }
div.formulario .dois-quintos { width: 288px; }
div.formulario .tres-oitavos { width: 270px; }
div.formulario .terco { width: 240px; }
div.formulario .tres-decimos { width: 216px; }
div.formulario .quarto { width: 180px; }
div.formulario .dois-nonos { width: 160px; }
div.formulario .quinto { width: 144px; }
div.formulario .sexto { width: 120px; }
div.formulario .oitavo { width: 90px; }
div.formulario .nono { width: 80px; }
div.formulario .decimo { width: 72px; }

.controle-item input, 
.controle-item select, 
.controle-item textarea
{
	border: solid 1px;
	padding: 2px;
	width: 100%;
}

.field-validation-error
{
	color: #ff0000;
}